In [1]:
import pandas as pd

In [2]:
d1 = pd.read_csv("Data/JC-202005-citibike-tripdata.csv")
d2 = pd.read_csv("Data/JC-202004-citibike-tripdata.csv")
d3 = pd.read_csv("Data/JC-202003-citibike-tripdata.csv")
d4 = pd.read_csv("Data/JC-202002-citibike-tripdata.csv")
d5 = pd.read_csv("Data/JC-202001-citibike-tripdata.csv")
d6 = pd.read_csv("Data/JC-201912-citibike-tripdata.csv")
d7 = pd.read_csv("Data/JC-201911-citibike-tripdata.csv")
d8 = pd.read_csv("Data/JC-201910-citibike-tripdata.csv")
d9 = pd.read_csv("Data/JC-201909-citibike-tripdata.csv")
d10 = pd.read_csv("Data/JC-201908-citibike-tripdata.csv")
d11 = pd.read_csv("Data/JC-201907-citibike-tripdata.csv")
d12 = pd.read_csv("Data/JC-201906-citibike-tripdata.csv")
d13 = pd.read_csv("Data/JC-201905-citibike-tripdata.csv")
d14 = pd.read_csv("Data/JC-201904-citibike-tripdata.csv")
d15 = pd.read_csv("Data/JC-201903-citibike-tripdata.csv")
d16 = pd.read_csv("Data/JC-201902-citibike-tripdata.csv")
d17 = pd.read_csv("Data/JC-201901-citibike-tripdata.csv")
d18 = pd.read_csv("Data/JC-201812-citibike-tripdata.csv")
d19 = pd.read_csv("Data/JC-201811-citibike-tripdata.csv")
d20 = pd.read_csv("Data/JC-201810-citibike-tripdata.csv")
d21 = pd.read_csv("Data/JC-201809-citibike-tripdata.csv")
d22 = pd.read_csv("Data/JC-201808-citibike-tripdata.csv")
d23 = pd.read_csv("Data/JC-201807-citibike-tripdata.csv")
d24 = pd.read_csv("Data/JC-201806-citibike-tripdata.csv")
d25 = pd.read_csv("Data/JC-201805-citibike-tripdata.csv")
d26 = pd.read_csv("Data/JC-201804-citibike-tripdata.csv")
d27 = pd.read_csv("Data/JC-201803-citibike-tripdata.csv")
d28 = pd.read_csv("Data/JC-201802-citibike-tripdata.csv")
d29 = pd.read_csv("Data/JC-201801-citibike-tripdata.csv")

In [3]:
df_final = pd.concat([d1,d2,d3,d4,d5,d6,d7,d8,d9,d10,d11,d12,d13,d14,d15,d16,d17,d18,d19,d20,d21,d22,d23,d24,d25,d26,d27,d28,d29])
df_final.count()

tripduration               859885
starttime                  859885
stoptime                   859885
start station id           859885
start station name         859885
start station latitude     859885
start station longitude    859885
end station id             859885
end station name           859885
end station latitude       859885
end station longitude      859885
bikeid                     859885
usertype                   859885
birth year                 859885
gender                     859885
dtype: int64

In [4]:
df_final.to_csv("cb12m_trip_data.csv", index=False)

In [5]:
check = pd.read_csv("cb12m_trip_data.csv")
check.tail(10)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
859875,705,2018-01-30 16:34:20.0470,2018-01-30 16:46:05.7640,3640,Journal Square,40.73367,-74.0625,3194,McGinley Square,40.725340,-74.067622,31870,Subscriber,1980,1
859876,491,2018-01-30 17:30:26.4000,2018-01-30 17:38:38.3360,3640,Journal Square,40.73367,-74.0625,3281,Leonard Gordon Park,40.745910,-74.057271,29622,Subscriber,1972,1
859877,284,2018-01-30 18:58:19.0490,2018-01-30 19:03:04.0060,3640,Journal Square,40.73367,-74.0625,3207,Oakland Ave,40.737604,-74.052478,31861,Subscriber,1983,1
859878,265,2018-01-30 21:25:14.8410,2018-01-30 21:29:40.5050,3640,Journal Square,40.73367,-74.0625,3207,Oakland Ave,40.737604,-74.052478,26289,Subscriber,1986,1
859879,266,2018-01-31 11:03:40.7660,2018-01-31 11:08:06.8270,3640,Journal Square,40.73367,-74.0625,3201,Dey St,40.737711,-74.066921,31841,Subscriber,1962,2
859880,247,2018-01-31 11:03:59.1750,2018-01-31 11:08:07.0570,3640,Journal Square,40.73367,-74.0625,3201,Dey St,40.737711,-74.066921,31828,Subscriber,1962,1
859881,806,2018-01-31 15:34:36.8370,2018-01-31 15:48:03.0280,3640,Journal Square,40.73367,-74.0625,3211,Newark Ave,40.721525,-74.046305,31842,Subscriber,1987,1
859882,1499,2018-01-31 15:45:09.8000,2018-01-31 16:10:09.4400,3640,Journal Square,40.73367,-74.0625,3640,Journal Square,40.733670,-74.062500,29622,Subscriber,1981,1
859883,291,2018-01-31 16:54:11.9480,2018-01-31 16:59:03.5760,3640,Journal Square,40.73367,-74.0625,3201,Dey St,40.737711,-74.066921,29622,Subscriber,1963,1
859884,383,2018-01-31 18:34:50.2950,2018-01-31 18:41:13.7530,3640,Journal Square,40.73367,-74.0625,3194,McGinley Square,40.725340,-74.067622,31690,Subscriber,1989,1